

body
{background-color:none; 
}
h1{
	font-size:34px;
	font-weight: bold;
	font-family: helvetica;

}
h2{
	font-size: 12px;
	font-family: helvetica;}
	
.uppercase{
	text-transform: uppercase;
}
li
{list-style: none;


}
