

body
{background-color:none; 
	margin: 15px;
}
h1{
	font-size:40px;
	font-weight: bold;
	font-family: helvetica;

}
h2{
	font-size: 9px;
	font-family: helvetica;
}	
.uppercase{
	text-transform: uppercase;
}
li
{
	list-style: none;




}
