

body
{background-color:yellow; 
}
h1{
	font-size:34px;
	font-weight: bold;
	font-family: helvetica;
}
h2{
	font-size: 12px;
	font-family: helvetica;

}
<style>
li{
	text-align: left;
	font-style: italic;

}
div{
	border-width: 5px;
	border-color:transparent;
}	
.uppercase{
	text-transform: uppercase;
}
li
{list-style: none;


}
