/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{ 
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}
p{font-family: sans-serif;
font-size: 10px;
padding: 20px;}
h1{
	position: absolute;
	z-index: +11;
	top:60px;

}
img{float: left;
clear: left;}
nav{
	width:100%;
	font-size: 24px;
	font-family: sans-serif;
	float: right;
	text-align: center;
	color: white;
}
a{
	color: black;
	text-decoration: none;
	font-size: 14px;
}

ol, ul {
	width: 50%;
	list-style: none;
	float: right;
	clear: right;
	text-align: center;}

	li{
	color: black;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: 10px;
	margin-right: 10px;
	list-style-type: disc;}

	#main-menu{
	position:relative;
	position: fixed;
	top:0px;
	left:0px;
	z-index:+10;
	height:70px;
	background-color:black;
	}

	#main-menu li{
	float:left;
	text-align: right;
	display:block;
	padding:5px;
	margin:5px;
	background-color:none;
	color: white;
}
#main-menu a{
	color: white;
	font-size: 14px;
}
	#accordion{ 
		width: 100%;
		position: absolute;
		top: 200px;
		border-left-style:solid;
		border-width: 5px;



	}



	<script>
$("accordion") .accordion);
</script>