

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	width: 960px;
	height: 780;
	padding: 10px;
	margin: 0 auto;



}
nav{
	width: 960px;
	font-family: Helvetica;
	font-weight: bold;
	border:black;
	float: left;
	text-align: center;

}
ol, ul {

	list-style: none;
	float: left;
	clear: left;
	text-align: center;
}

h1{
	padding-top: 20px;
	padding-bottom: 5px;
color: black;
font-size: 24px;
font-family: helvetica;
font-weight: bold;

}
h2{
	font-size: 16px;
	padding: 5px;
	font-family: helvetica;
	color: black;
}
p{
	width: 350px;
	font-size: 9px;
	font-family: sans-serif;
	font-weight: lighter;

}
body {
	width:960px;
	margin:0 auto;
}

#site-header {
	position:relative;
	height:120px;
	background-color:yellow;
	
}

#site-header h1 {
	position:absolute;
	margin: 0 auto;
	display:block;
	width:80%;
	height:100px;
	background-color:none;
	left:15px;
}
#top-nav { 
	position:absolute;
	right:15px;
	width:150px;
	height:20px;
	background-color:none;
}

#main-menu {
	position:relative;
	height:55px;
	background-color:red;
}	
#main-menu li{
	float:left;
	display:block;
	padding:10px;
	margin:10px 0px 5px 15px;
	background-color:none;
}	

#page { 
	float:left; 
	width:60%;
	background-color:blue;
	margin:20px 15px;
	padding:10px;
}	

#sidebar {
	float:right;
	width:30%;
	margin-top:20px;
	padding:15px;
	text-decoration: none;
	
}	
#site-footer {
	clear:both;
	position:relative;
	height:55px;
	background-color:#4f3a11;
}

#footer-content h1 {
	background-color:white;
	float:left;
	width:20%;
	margin:15px 15px;
}

#footer-follow a{
	float: right;
	clear: left;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
#footer-contact{
	font-size: 14px;
	margin-left: 20px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


