
body{
	font-size: 12px;

}
h1{
	margin-right: auto;
	margin-left:auto;
	padding:15px;
	position:absolute;

}
h2{
	font-family:'Shift',sans-serif;



}

.nav a {
  color:black;
  font-size: 14px;}


  .nav li {
  display: inline;
}