
h1{
	text-align:center;


}
.nav{
	padding-top: 14px;
    padding-bottom: 14px;
    padding-left:10px;
    padding-right:10px;
	color:black;
	text-transform:uppercase;
	text-align:center;
	font-family:serif;
	font-style:bold;

}
body{
	margin: 20px;
	border: white;
	padding:15ppx;
    font-family:"baskerville",serif;
	font-size: 24px;
}
.uppercase{
	text-transform: uppercase;}
.pic{
	<img class="pic" src="images/luke.jpg" width="400" height="400"
}
h2{
	float:left;
	width:250px;
	margin:5px;
	padding:5px;
	font-family:'Shift',sans-serif;

}