
h1{
	text-align: center;

}
nav{
	margin:10px;
	padding:7px14px;
	color:black;
	text-transform: uppercase;
	text-align: center;
	font-family: serif;
	font-style: bold;
}
body{
    font-family: "baskerville",serif;
	font-size: 24px;
	text-align: left;

}
.uppercase{
	text-transform: uppercase;}
.pic{
	<img class="pic" src="images/luke.jpg" width="400" height="400"
}
h2{
	width:250px;
	margin:5px;
	padding:5px;
	font-family:'Shift',sans-serif;

}